// Map

.ui.button,
.dot.circle.icon {
  // background-color: $primary;
  color: white;
}

.pac-icon {
  display: none;
}

.pac-item {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  &:hover {
  //  background-color: $light; 
  }
}